<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% if currentConnection.id %}{{ currentConnection.host }}{% else %}{% trans %}Select connection{% endtrans %}{% endif %} <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li role="presentation" class="dropdown-header">{% trans %}Connections{% endtrans %}</li>
        {% for connection in connections %}
            <li role="presentation"{% if connection.id == currentConnection.id %} class="active"{% endif %}><a role="menuitem" href="{{ path(app.request.attributes.get('_route')) }}?_connection={{ connection.id }}">{{ connection.host }}</a></li>
        {% else %}
            <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">{% trans %}No connections found{% endtrans %}</a></li>
        {% endfor %}
    </ul>
</li>

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% if currentDatabase %}{{ currentDatabase }}{% else %}{% trans %}Select database{% endtrans %}{% endif %} <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li role="presentation" class="dropdown-header">{% trans %}Databases{% endtrans %}</li>
        {% for database in databases %}
            <li role="presentation"{% if database == currentDatabase %} class="active"{% endif %}><a role="menuitem" href="{{ path(app.request.attributes.get('_route')) }}?_dbName={{ database }}">{{ database }}</a></li>
        {% else %}
            <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">{% trans %}No databases found{% endtrans %}</a></li>
        {% endfor %}
    </ul>
</li>
