{% extends "MSDCoreBundle::layout.html.twig" %}

{% form_theme form "MSDCoreBundle:Form:fields.html.twig" %}

{% block title %}MSDAdminBundle:User:edit{% endblock %}

{% block content %}
{{ form_start(
    form,
    {
        attr: {
            novalidate: 'novalidate',
            action: path('msd_admin_user_edit', { userId: user.id } )
        }
    }
) }}
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                {{ form_row(form.username) }}
                {{ form_row(form.password) }}
                {{ form_row(form.email) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                {{ form_row(form.save, { attr: { class: 'btn btn-primary btn-block btn-lg' } }) }}
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
{{ form_end(form) }}
{% endblock %}
